<div class="grid-item col-md-4 col-sm-12 col-xs-12 col-sb">
  <div class="grid-item-content col-box col-box-db">
    <h3 class="text-strong title-sb title"><span class="text-bb"><%= menu.name %></span></h3>
    <% menu.foods.each do |food| %>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <h4 class="remove-margin menu-food-name text-strong"><%= food.name %></h4>
          <% if food.variants.any? %>
            <h4 class="text-price">Variants</h4>
          <% else %>
            <h4 class="text-price"><%= price_format(food.price) %></h4>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          <% if food.customizable? %>
            <%= link_to food_path(food), class: "btn btn-primary" do %>
              <i class="glyphicon glyphicon-shopping-cart"></i> Order
            <% end %>
          <% else %>
            <%= simple_form_for [food, CartItem.new] do |f| %>
              <%= f.input :itemable_id, as: :hidden, input_html: {value: food.id} %>
              <%= button_tag(type: 'submit', class: "btn btn-primary",
                             data: {disable_with: "Adding To Cart..."}) do %>
                <i class="glyphicon glyphicon-shopping-cart"></i> Order
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
