<div class="row">
  <div class="col-md-5 center-block">
    <h2><span class="text-bb">Add New Drink To <%= @restaurant.name %></span></h2><br/><br><br>

    <%= simple_form_for [:admin, @restaurant, @drink], html: {multipart: true} do |f| %>
        <%= f.input :name, input_html: {class: "input-lg"}, label_html: {class: 'lb-lg'}  %>
        <%= f.input :price, input_html: {class: "input-lg"}, label_html: {class: 'lb-lg'}  %>

        <div id="variants">
          <h3 class="variant-title remove-margin text-strong">Add Variations Below</h3>
          <%= f.simple_fields_for :variants do |variant| %>
              <%= render 'variant_fields', f: variant %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Variant', f, :variants, class: "btn btn-primary btn-lg" %>
          </div>
        </div>

        <%= f.button :submit, class: "btn btn-success btn-lg btn-block btn-gb" %>
    <% end %>
  </div>
</div>