<div class="row">
  <div class="col-md-12">
    <h2 class="text-sb text-strong remove-margin">
      <span class="text-bb">Would You Like To Order Something To Drink From <%= @restaurant.name %></span>?</h2>
    <h3 class="text-muted">You can order drinks only from the restaurants your order food from.</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <%= link_to "Go To Cart", cart_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-md-3">
    <%= link_to "Find More Food", foods_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
</div>

<br><br><br>

<h2>Drinks (<%= @drinks.count %>)</h2>
<br>
<div class="row row-grid">
  <% @drinks.order("created_at DESC").each do |drink| %>
      <div class="grid-item col-md-6 col-sb">
        <div class="grid-item-content col-box col-box-db">

          <div class="row">
            <div class="col-md-9">
              <h2 class="text-strong"><span class="text-bb"><%= drink.name %></span></h2>
            </div>
            <div class="col-md-3">
              <div class="image-medium-wrapper">
                <%= image_tag(drink.primary_image_url(:medium), class: "img-responsive") %>
              </div>
            </div>
          </div>
          <br><br>
          <% if drink.variants.any? %>
                <%= simple_form_for [drink, CartItem.new] do |f| %>
                    <%= f.input :variant_id,
                                label: false,
                                collection: drink.variants,
                                include_blank: false,
                                input_html: {class: "input-lg"} %>

                    <%= f.input :quantity, label: false, input_html: {value: 1, class: "form-control input-lg"} %>
                    <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg btn-block") do %>
                        <i class="glyphicon glyphicon-shopping-cart"></i> Order
                    <% end %>
                <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
    $('.grid').isotope({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        percentPosition: true,
        masonry: {
            columnWidth: '.grid-sizer'
        }
    });
</script>
