<div class="row">
  <div class="col-md-6">
    <h2>Order Items That Require Processing</h2>
  </div>
  <div class="col-md-6 text-right">
    <h2 class="text-price">Total: <%= price_format(@order.total) %></h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Order Confirmed", "#", class: "btn btn-success btn-lg" %>
  </div>
</div>
<br><br>
<div class="row ">
  <div class="col-md-8">
    <% @order_fragments.each do |order_fragment| %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h3 class="text-title"><span class="text-bb">Order For <%= order_fragment.restaurant.name %></span></h3>
                <br>
                <br>
              </div>
              <div class="col-md-6 text-right">
                <h3 class="text-price">Sub-Total: <%= price_format(order_fragment.total) %></h3>
                <h4>Delivery</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Food</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% order_fragment.order_items.each do |order_item| %>
                      <tr>
                        <td>
                          <%= image_tag(order_item.food.primary_image.thumb) if order_item.food.primary_image? %>
                          <%= order_item.food.name %>
                        </td>
                        <td><%= order_item.quantity %></td>
                        <td class="text-price"><%= price_format(order_item.total) %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br><br>
    <% end %>
  </div>
  <div class="col-md-3 pull-right">
    <div class="row">
      <div class="col-md-12">
        <h3 class="remove-margin">Confirmation Code: <%= @order.confirmation_code %></h3><br>
        <div class="col-box col-box-bg">
          <h3>Customer Information</h3>
          <hr>
          <h4 class="text-sb">Name: <%= @order.full_name %></h4>
          <h4 class="text-sb">Phone #: <%= @order.phone_number %></h4>
          <h4 class="text-sb">Location: <%= @order.location %></h4>
          <h4 class="text-sb">Street: <%= @order.street %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
