<tr>
  <td><%= link_to restaurant.name, admin_restaurant_path(restaurant), class: 'primary-link' %></td>
  <td>
    <div class="image-thumb">
      <%= image_tag(restaurant.primary_image_url(:thumb)) %>
    </div>
  </td>
  <td><%= restaurant.suppliers.first.email %></td>
  <td><%= restaurant.address %></td>
  <td><%= restaurant.phone_number %></td>
  <td><%= link_to "Edit", edit_admin_restaurant_path(restaurant), class: "btn btn-default" %></td>
</tr>