<div class="row">
  <div class="col-md-6">
    <h2 class="remove-margin">Restaurants (<%= @restaurants.count %>)</h2>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to "Add New Restaurant", new_admin_restaurant_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<hr>
<br><br><br>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Origin Employee Email</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody>
        <% @restaurants.each do |restaurant| %>
            <tr>
              <td>
                <%= image_tag(restaurant.primary_image.thumb) if restaurant.primary_image? %>
                <%= link_to restaurant.name, admin_restaurant_path(restaurant) %>
              </td>
              <td>test@yahoo.com</td>
              <td><%= restaurant.location %></td>
              <td><%= restaurant.phone_number %></td>
              <td><%= link_to "Update", edit_admin_restaurant_path(restaurant), class: "btn btn-success" %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>