<br>
<% if @order_fragments.any? %>
    <div class="row">
      <div class="col-md-8 center-block">
        <h1 class="title">
          <span class="text-bb">Archived Orders (<%= @order_fragments.count %>)</span>
        </h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-8 center-block">
        <div>
          <ul class="seller-orders">
            <% @order_fragments.each do |order_fragment| %>
                <%= link_to supplier_archive_path(order_fragment) do %>
                    <li>
                      <div class="row">
                        <div class="col-md-5 col-xs-sb">
                          <h3>Archived <%= format_datetime(order_fragment.archived_on) if order_fragment.archived_on.present? %>
                          </h3>
                        </div>
                        <div class="col-md-4 col-xs-sb">
                          <h3><%= pluralize(order_fragment.order_items.count, "item") %> in order</h3>
                        </div>
                        <div class="col-md-3">
                          <h3 class="text-price"><%= price_format(order_fragment.total) %></h3>
                        </div>
                      </div>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% else %>
    <h1 class="title text-center"><span class="text-bb">No Order Archives To Show</span></h1>
<% end %>

