<%= link_to supplier_dashboard_path, class: "btn btn-primary" do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
<% end %>
<div class="row">
  <div class="col-md-8 center-block">
    <h1 class="title text-sb"><span class="text-bb">Archived Order</span></h1><br>
    <h3 class="text-muted">Placed <%= format_datetime(@order_fragment.created_at) %></h3>
    <h3 class="remove-margin text-muted">Archived
      on <%= format_datetime(@order_fragment.archived_on) if @order_fragment.archived_on.present? %></h3>
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="col-md-8 center-block">
    <div class="col-box col-box-db">
      <div class="row">
        <div class="col-md-6 col-md-sb">
          <h2 class="text-strong">Customer Information</h2>
          <hr>
          <h2><%= @order_fragment.order.full_name %></h2>
          <h2><%= number_to_phone(@order_fragment.order.phone_number, :groupings => [3, 4], :delimiter => "-") %></h2>
        </div>
        <div class="col-md-6">
          <h2 class="text-strong">Customer Opted For</h2>
          <hr>
          <% if @order_fragment.delivery? %>
              <h2><i class="fa fa-motorcycle" aria-hidden="true"></i> Delivery @</h2>
              <h2><%= @order_fragment.order.delivery_address %></h2>
          <% else %>
              <h2>Pick Up</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="seller-order-fragment">
  <div class="row">
    <div class="col-md-8 center-block">
      <h1 class="title"><span class="text-bb">Food Orders</span></h1><br><br>
      <ul>
        <%= render @order_fragment.food_order_items %>
      </ul>
      <% if @order_fragment.drink_order_items.any? %>
          <br>
          <h2 class="title"><span class="text-bb">Drink Orders</span></h2>
          <br><br>
          <ul>
            <%= render @order_fragment.drink_order_items %>
          </ul>
      <% end %>
    </div>
  </div>
</div>

