<div class="row">
  <div class="col-md-12">
    <h2 class="text-title"><span class="text-bb">Latest Foods</span></h2><br>
  </div>
  <div class="col-md-12">
    <div class="row row-grid gutter-70">
      <% Food.order("created_at DESC").limit(6).each do |food| %>
          <div class="col-md-4 col-sm-4 col-xs-6 col-sb">
            <div class="figure">
              <div class="image-medium-wrapper">
                <%= image_tag(food.primary_image_url(:medium), class: "img-responsive") %>
              </div>
              <div class="figcaption">
                <h3 class="truncate text-strong"><%= food.name %></h3>
                <% if food.restaurant.offers_delivery? %>
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="remove-margin truncate">By <%= link_to food.restaurant.name, restaurant_path(food.restaurant) %></h4>
                      </div>
                      <div class="col-md-6 text-right">
                        <h4 class="remove-margin text-muted"><%= fa_icon "car" %> Deliverable</h4>
                      </div>
                    </div>
                <% else %>
                    <h4 class="remove-margin truncate">By <%= link_to food.restaurant.name, restaurant_path(food.restaurant) %></h4>
                <% end %>
                <div class="figcaption-footer">
                  <div class="row">
                    <div class="col-md-5">
                      <%= simple_form_for CartItem.new do |f| %>
                          <%= f.input :food_id, as: :hidden, input_html: {value: food.id} %>
                          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                              <i class="glyphicon glyphicon-shopping-cart"></i> Order
                          <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-7">
                      <h4 class="text-right text-price"><%= price_format(food.price) %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-title"><span class="text-bb">Latest Restaurants</span></h2><br>
  </div>
  <div class="col-md-12">
    <div class="row gutter-70">
      <% Restaurant.order("created_at DESC").limit(6).each do |restaurant| %>
          <div class="col-md-4 col-sm-4 col-xs-6 col-sb">
            <%= link_to restaurant_path(restaurant) do %>
                <div class="figure">
                  <div class="image-medium-wrapper">
                    <%= image_tag(restaurant.primary_image_url(:medium), class: "img-responsive") %>
                  </div>
                  <div class="figcaption">
                    <h3 class="truncate text-strong"><%= restaurant.name %></h3>
                    <h4><%= restaurant.location %></h4>
                    <div class="figcaption-footer text-muted">
                      <div class="row">
                        <div class="col-md-6">
                          <h4><%= pluralize(restaurant.menus.count, "Menu") %></h4>
                        </div>
                        <div class="col-md-6 text-right">
                          <h4><%= pluralize(restaurant.foods.count, "Total Food") %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>