<div class="home-search-form">
  <div class="row">
    <div class="col-md-10 center-block">
      <h2 class="text-center text-uppercase search-form-text">Search, Order...Eat :)</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg" placeholder="Search for food"/>
          <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr><br>

<div class="row">
  <div class="col-md-12">
    <h2>Popular</h2><br>
  </div>
  <div class="col-md-12">
    <div class="row row-grid">
      <% Food.all.each do |food| %>
          <div class="col-md-4 col-sb">
            <div class="figure">
              <%= image_tag(food.primary_image.medium, class: "img-responsive") if food.primary_image? %>
              <div class="figcaption">
                <h3><%= food.name %></h3>
                <h4>By <%= food.restaurant.name %></h4>
                <div class="figcaption-footer">
                  <div class="row">
                    <div class="col-md-6">
                      <%= simple_form_for CartItem.new do |f| %>
                          <%= f.input :food_id, as: :hidden, input_html: {value: food.id} %>
                          <%= f.button :submit, "Order", class: "btn btn-success btn-sm" %>
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <h4 class="text-right text-price"><%= price_format(food.price) %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <h2>Latest Restaurants</h2>
  </div>
</div>