<div class="row">
  <div class="col-md-2 col-sm-4">
    <div class="image-medium-wrapper">
      <%= image_tag(@restaurant.primary_image_url(:medium), class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-10 col-sm-8">
    <h2 class="">Send Reservation Request To <%= @restaurant.name %> Restaurant</h2>
    <h3>
      <%= link_to restaurant_path(@restaurant), class: "primary-link" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Return
      <% end %>
    </h3>
  </div>
</div>
<br>
<hr>
<br><br>
<div class="row">
  <div class="col-md-6 center-block">
    <%= simple_form_for [@restaurant, @reservation], validate: true do |f| %>
      <%= f.input :full_name, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :email, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :phone_number, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :reserve_date, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :reserve_time, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :persons, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <%= f.input :comments, input_html: {class: 'input-lg'}, label_html: {class: 'lb-lg'} %>
      <br>
      <%= f.submit "Send Request", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
