<% if @cart.cart_items.any? %>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2 class="remove-margin text-strong">Orders In Cart
          (<%= @cart.count %>)</h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-right col-mobile-pl">
        <h2 class="remove-margin cart-total">Overall Total:
          <span class="text-price"><%= price_format(@cart.total) %></span>
        </h2>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-4 col-sb">
        <p>
          <%= link_to foods_path(@cart), class: "btn btn-info btn-lg btn-block" do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i> Add More Food
          <% end %>
        </p>
      </div>
      <div class="col-md-8">
        <p>
          <%= link_to new_cart_checkout_path(@cart), class: "btn btn-primary btn-lg btn-gb btn-block" do %>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i> Send Your Orders
          <% end %>
        </p>
      </div>
    </div>

    <br><br>

    <div class="heading-wrapper heading-wrapper-sb">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <h2 class="remove-margin truncate"><%= pluralize_normal("Food Order", @cart_fragments.first.cart_items.count) %>
            From <%= @cart_fragments.first.restaurant.name %></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          <%= link_to_previous_page @cart_fragments, 'Previous order', class: "btn btn-info" %>
          <%= link_to_next_page @cart_fragments, 'Next Order', class: "btn btn-info" %>
        </div>
      </div>
    </div>


    <% @cart_fragments.each do |cart_fragment| %>
        <div class="cart_fragment-wrapper">
          <div class="row cart-fragment-header">
            <div class="col-md-6 col-sm-6 col-xs-12">
            </div>
            <% if cart_fragment.restaurant.offers_delivery? %>
                <div class="col-md-6 text-right col-mobile-pl">
                  <div class="delivery-cb-wrapper">
                    <h2 class="remove-margin checkbox-text">
                      <%= fa_icon "motorcycle" %> Delivery?
                      <%= check_box_tag :delivery, 1, cart_fragment.delivery,
                                        onchange: "cart.toggleDelivery(this, event)",
                                        data: {"cf-id" => "#{cart_fragment.id}"} %>
                    </h2>
                  </div>
                </div>
            <% else %>
                <div class="col-md-6 col-sm-6 xol-xs-12 text-right col-mobile-pl">
                  <div class="delivery-cb-wrapper">
                    <p class="remove-margin checkbox-text">Delivery not offered</p>
                  </div>
                </div>
            <% end %>
          </div>
          <% cart_fragment.food_cart_items.decorate.each do |cart_item| %>
              <div class="cart-fragment">
                <div class="row ">
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="image-medium-wrapper">
                      <%= cart_item.cart_item_image %>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-8 col-xs-12">
                    <h3 class="text-title remove-margin text-sb"><%= cart_item.cart_item_name %></h3>
                    <h4 class="remove-margin">Price:
                      <span class="text-price "><%= price_format(cart_item.cart_item_price) %>
                    </span></h4>
                    <br>
                    <div class="content-bg">
                      <h4 class="remove-margin text-sb">Orders: <%= cart_item.quantity %></h4>
                      <h4 class="remove-margin">Sub Total:
                        <span class="text-price "><%= price_format(cart_item.total) %></span></h4>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <%= simple_form_for cart_item, method: :put do |f| %>
                        <%= f.input :quantity, label_html: {class: 'lb-lg'} %>
                        <%= button_tag(type: 'submit', class: "btn btn-info") do %>
                            <i class="glyphicon glyphicon-refresh"></i> Update
                        <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-3 text-right col-mobile-pl">
                    <br/>
                    <%= link_to cart_item_path(cart_item), method: :delete, class: "btn btn-danger" do %>
                        <i class="glyphicon glyphicon-remove"></i> Remove
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
          <% if cart_fragment.drink_cart_items.any? %>
              <br>
              <div class="heading-wrapper heading-wrapper-sb">
                <div class="row">
                  <div class="col-md-6 col-sm-7 col-xs-7">
                    <h2 class="remove-margin truncate">Drink Orders</h2>
                  </div>
                  <div class="col-md-6 col-sm-5 col-xs-5 text-right">
                    <%= link_to restaurant_drinks_path(cart_fragment.restaurant,
                                                       cf_id: cart_fragment), class: "btn btn-info" do %>
                        <i class="fa fa-plus-square" aria-hidden="true"></i> Add More Drinks
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <% @drinks.each do |drink| %>
                    <div class="col-md-3">
                      <div class="cart-drink text-center">
                        <h3 class="remove-margin"><%= pluralize(drink.quantity, drink.itemable.variantable.name) %></h3>
                        <h4><%= drink.itemable.name %></h4>
                        <h4>
                        <span class="text-price "><%= price_format(drink.itemable.price) %>
                        </span>
                        </h4>
                        <br>
                        <%= simple_form_for drink, method: :put do |f| %>
                            <%= f.input :quantity, label: false %>
                            <%= button_tag(type: 'submit', class: "btn btn-info") do %>
                                <i class="glyphicon glyphicon-refresh"></i> Update
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% else %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="glyphicon glyphicon-shopping-cart"></i> (0)</h1>
        <h2 class="remove-margin">No Orders In Cart :(</h2>
        <br><br><br>
      </div>
      <div class="col-md-6 col-sb">
        <%= link_to "Find Food", foods_path, class: "btn btn-info btn-lg btn-block" %>
      </div>
      <div class="col-md-6">
        <%= link_to "View Restaurants", restaurants_path, class: "btn btn-primary btn-lg btn-block btn-gb" %>
      </div>
    </div>
<% end %>