<% if @cart.cart_items.any? %>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2 class="remove-margin"><span class="text-bb">Orders In Cart
          (<%= @cart_items.count %>)</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-right col-mobile-pl">
        <h2 class="remove-margin cart-total">Your Total: <span class="text-price"><%= price_format(@cart.total) %></span>
        </h2>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-6 col-sb">
        <p>
          <%= link_to foods_path(@cart), class: "btn btn-info btn-lg btn-block" do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i> Add More Food
          <% end %>
        </p>
      </div>
      <div class="col-md-6 pull-right mobile-pull">
        <p>
          <%= link_to new_cart_checkout_path(@cart), class: "btn btn-primary btn-lg btn-gb btn-block" do %>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i> Proceed To Checkout
          <% end %>
        </p>
      </div>
    </div>

    <br><br>

    <% @cart_fragments.each do |cart_fragment| %>
        <div class="cart_fragment-wrapper">
          <div class="row cart-fragment-header">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <h2 class="truncate"><%= pluralize_normal("Order", cart_fragment.cart_items.count) %>
                From <%= cart_fragment.restaurant.name %></h2>
            </div>
            <% if cart_fragment.restaurant.offers_delivery? %>
                <div class="col-md-6 text-right col-mobile-pl">
                  <div class="delivery-cb-wrapper">
                    <p class="remove-margin checkbox-text">
                      <%= fa_icon "motorcycle" %> Delivery from <%= cart_fragment.restaurant.name %>
                      ? <%= check_box_tag :delivery, 1, cart_fragment.delivery,
                                          onchange: "cart.toggleDelivery(this, event)",
                                          data: {"cf-id" => "#{cart_fragment.id}"} %>
                    </p>
                  </div>
                </div>
            <% else %>
                <div class="col-md-6 col-sm-6 xol-xs-12 text-right col-mobile-pl">
                  <div class="delivery-cb-wrapper">
                    <p class="remove-margin checkbox-text">Delivery not offered</p>
                  </div>
                </div>
            <% end %>
          </div>
          <% cart_fragment.cart_items.each do |cart_item| %>
              <div class="col-box col-box-xp cart-fragment-body">
                <div class="row ">
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="image-medium-wrapper">
                      <%= cart_item.cart_item_image %>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-8 col-xs-12">
                    <h3 class="text-title remove-margin text-sb"><%= cart_item.food_name %></h3>
                    <h4 class="remove-margin">Price: <span class="text-price "><%= price_format(cart_item.food_price) %>
                    </span></h4>
                    <br>
                    <div class="content-bg">
                      <h4 class="remove-margin text-sb">Orders: <%= cart_item.quantity %></h4>
                      <h4 class="remove-margin">Sub Total:
                        <span class="text-price "><%= price_format(cart_item.total) %></span></h4>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <%= simple_form_for cart_item, method: :put do |f| %>
                        <%= f.input :quantity, label_html: {class: 'lb-lg'} %>
                        <%= button_tag(type: 'submit', class: "btn btn-info") do %>
                            <i class="glyphicon glyphicon-refresh"></i> Update
                        <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-3 text-right col-mobile-pl">
                    <br/>
                    <%= link_to cart_item_path(cart_item), method: :delete, class: "btn btn-danger" do %>
                        <i class="glyphicon glyphicon-remove"></i> Remove
                    <% end %>
                  </div>
                </div>
              </div>
              <br>
          <% end %>
        </div>
    <% end %>
<% else %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="glyphicon glyphicon-shopping-cart"></i> (0)</h1>
        <h2 class="remove-margin">No Orders In Cart :(</h2>
        <br><br><br>
      </div>
      <div class="col-md-6 col-sb">
        <%= link_to "Find Food", foods_path, class: "btn btn-info btn-lg btn-block" %>
      </div>
      <div class="col-md-6">
        <%= link_to "View Restaurants", restaurants_path, class: "btn btn-primary btn-lg btn-block btn-gb" %>
      </div>
    </div>
<% end %>