<div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12">
    <h2 class="text-title remove-margin">
      <% if params[:mc].present? %>
        <span class="text-bb">Feel Like Eating: <%= params[:mc] %></span>
      <% else %>
        <span class="text-bb">Delicious <%= pluralize_normal("Food", @foods.count) %> From Across Belize</span>
      <% end %>
    </h2>
    <br><br>
  </div>
  <% if params[:mc].present? %>
    <div class="col-md-2 col-sm-3 col-xs-5 text-md-left col-md-sb text-right">
      <%= link_to "Show All Foods", foods_path, class: "btn btn-default btn-block" %>
    </div>
  <% end %>
  <div class="col-md-2 col-sm-3 col-xs-5 text-md-left col-md-sb <%= "pull-right mobile-pull" unless params[:mc].present? %> text-right">
    <div class="dropdown generic-dropdown">
      <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Sort By
        <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="text-center"><%= link_to "Deliverable", foods_path(sort: "deliverable") %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="categories">
      <% Tag.limit(20).each do |tag| %>
        <li><%= link_to tag.name, foods_path(mc: tag.name) %></li>
      <% end %>
    </ul>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 pull-right text-right">
    <div class="foods-paginator">
      <%= paginate @foods %>
    </div>
  </div>
</div>

<div class="row grid" id="foods-catalog">
  <!-- add sizing element for columnWidth -->
  <div class="grid-sizer col-md-4 col-sm-6"></div>
  <%= render @foods %>
</div>

<div class="row">
  <div class="col-md-6 pull-right text-right">
    <div class="foods-paginator">
      <%= paginate @foods %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.grid').isotope({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        percentPosition: true,
        masonry: {
            columnWidth: '.grid-sizer'
        }
    });
</script>
