<div class="row">
  <div class="col-md-12">
    <h2 class="text-title"><%= pluralize_normal("Food", @foods.count) %> In Santa Elena & San Ignacio</h2>
    <br><br><br>
  </div>
</div>
<div class="row gutter-70">
  <% @foods.each do |food| %>
      <div class="col-md-3 col-sm-4 col-xs-6 col-sb">
        <div class="figure">
          <%= image_tag(food.primary_image.medium, class: "img-responsive") if food.primary_image? %>
          <div class="figcaption">
            <h3 class="truncate"><%= food.name %></h3>
            <h5 class="text-sb text-muted"><%= fa_icon "car" %> Deliverable</h5>
            <h4>By <%= link_to food.restaurant.name, restaurant_path(food.restaurant) %></h4>
            <div class="figcaption-footer">
              <div class="row">
                <div class="col-md-5">
                  <%= simple_form_for CartItem.new do |f| %>
                      <%= f.input :food_id, as: :hidden, input_html: {value: food.id} %>
                      <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %>
                          <i class="glyphicon glyphicon-shopping-cart"></i> Order
                      <% end %>
                  <% end %>
                </div>
                <div class="col-md-7">
                  <h4 class="text-right text-price"><%= price_format(food.price) %></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>