<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="remove-margin"><span class="text-bb">Customize Your Order</span></h1>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="remove-margin"><%= @food.name %></h1>
    <h3 class="remove-margin text-muted text-sb">By <%= link_to @food.restaurant.name, restaurant_path(@food.restaurant) %></h3>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-5 col-md-sb">
    <div class="image-medium-wrapper">
      <%= image_tag(@food.restaurant.primary_image_url(:medium), class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-6 pull-right col-md-pl">
    <% if @food.description %>
      <div class="row">
        <div class="col-md-12">
          <p><%= @food.description %></p>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="col-box col-box-db">
          <%= simple_form_for [@food, CartItem.new] do |f| %>
            <% if @food.variants.any? %>
              <%= f.input :variant_id,
                          collection: @food.variants.order('price_cents ASC'),
                          include_blank: false,
                          :label_method => lambda {|v| "#{v.name} - $#{v.price}"},
                          input_html: {class: "input-lg"},
                          label_html: {class: 'lb-lg'} %>
            <% end %>
            <% if @food.choices.any? %>
              <%= f.input :choice_id,
                          collection: @food.choices,
                          include_blank: false,
                          label: 'Choose Flavor',
                          :label_method => lambda {|c| "#{c.name}"},
                          input_html: {class: "input-lg"},
                          label_html: {class: 'lb-lg'} %>
            <% end %>
            <% if @food.menu.additions.any? %>
              <h4 class="lb-lg">Additions</h4>
              <%= f.collection_select :addition_ids, @food.menu.additions, :id,
                                      :full_name, {}, :multiple => 'true',
                                      :class => 'form-control selectpicker' %>
              <br><br>
            <% end %>
            <%= f.input :quantity, input_html: {value: 1, class: "form-control input-lg"}, label_html: {class: 'lb-lg'} %>
            <br>
            <%= button_tag(type: 'submit', class: "btn btn-primary btn-block btn-lg") do %>
              <i class="glyphicon glyphicon-shopping-cart"></i> Order
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $('.selectpicker').selectpicker({
        size: 4
    });
</script>