<% title "#{@restaurant.name}" %>

<div class="row">
  <div class="col-md-9">
    <h1 class="text-title remove-margin"><span class="text-bb"><%= @restaurant.name %></span></h1><br>
  </div>
  <div class="col-md-3">
    <% unless @restaurant.currently_open? %>
      <h4 class="text-right remove-margin"><span class="resaurant-info">Now Closed</span></h4><br>
    <% end %>
  </div>
</div>
<br><br>
<div class="row restaurant-header">
  <div class="col-md-5 col-sm-6 col-md-sb">
    <div class="image-medium-wrapper">
      <%= image_tag(@restaurant.primary_image_url(:medium), class: "img-responsive") %>
    </div>
    <% if @restaurant.reservation %>
      <br>
      <hr>
      <h3>
        <%= link_to new_restaurant_reservation_path(@restaurant), class: "primary-link" do %>
          <i class="fa fa-share" aria-hidden="true"></i> Reservation Request
        <% end %>
      </h3>
      <hr>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
    <div class="restaurant-name-address">
      <h3><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @restaurant.address %></h3>
    </div>
    <div class="restaurant-information">
      <div class="restaurant-other-information">
        <%= render 'schedule' %>
        <% if @restaurant.offers_delivery? %>
          <hr>
          <h3><%= fa_icon "motorcycle" %> Offers Delivery</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br><br><br>
<hr>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h2 class="remove-margin truncate text-sb"><%= @restaurant.menu_food_counter %></h2>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text-right col-md-pl">
    <div id="menus-paginator">
      <%= paginate @menus, remote: true %>
    </div>
  </div>
</div>
<hr>
<br><br>
<div class="row grid" id="restaurant-menus">
  <!-- add sizing element for columnWidth -->
  <div class="grid-sizer col-md-4"></div>
  <%= render 'restaurants/menus' %>
</div>

<script type="text/javascript" charset="utf-8">
    $('.grid').isotope({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        percentPosition: true,
        masonry: {
            columnWidth: '.grid-sizer'
        }
    });
</script>
