<% if @foods.any? %>
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-title remove-margin"><span class="text-bb">Search Results (<%= @foods.count %>)</span></h2>
        <br><br><br>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-5 <%= "pull-right" unless params[:mc].present? %> text-right">
        <div class="dropdown generic-dropdown">
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Sort By
            <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="text-center"><%= link_to "Deliverable", search_path(query: params[:query], sort: "deliverable") %></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row grid">
      <!-- add sizing element for columnWidth -->
      <div class="grid-sizer col-md-4"></div>
      <%= render @foods %>
    </div>
<% else %>
    <h1 class="text-center">No results for "<%= params[:q] %>"</h1>
<% end %>

<script type="text/javascript" charset="utf-8">
    $('.grid').isotope({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        percentPosition: true,
        masonry: {
            columnWidth: '.grid-sizer'
        }
    });
</script>
