<%= link_to supplier_order_fragment_path(order_fragment) do %>
    <li>
      <div class="row">
        <div class="col-md-5 col-xs-sb">
          <h3>Placed
            <time class="timeago" datetime="<%= order_fragment.created_at %>"><%= order_fragment.created_at %></time>
          </h3>
        </div>
        <div class="col-md-4 col-xs-sb">
          <h3><%= pluralize(order_fragment.order_items.count, "item") %> in order</h3>
        </div>
        <div class="col-md-3">
          <h3 class="text-price"><%= price_format(order_fragment.total) %></h3>
        </div>
      </div>
    </li>
<% end %>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("time.timeago").timeago();
    });
</script>