<div class="row">
  <div class="col-md-4 col-md-sb">
    <%= link_to supplier_dashboard_path, class: "btn btn-primary" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
    <% end %>
  </div>
  <div class="col-md-5 pull-right mobile-pull">
    <div class="row">
      <div class="col-md-6 col-sb">
        <% unless @order_fragment.delivery? %>
          <%= link_to "Order Ready", order_ready_supplier_order_fragment_path(@order_fragment),
                      method: :put,
                      data: {
                          confirm: 'Is the order ready?',
                          'confirm-button-text': 'Yes',
                          'cancel-button-color': '#d9534f',
                          text: "By clicking Yes, the customer will be sent a text message informing them that their order is ready for pickup.",
                      },
                      class: "btn btn-primary btn-block btn-lg" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to "Archive", archive_supplier_order_fragment_path(@order_fragment),
                    method: :put,
                    data: {
                        confirm: 'Are you sure?',
                        'confirm-button-text': 'Yes',
                        'cancel-button-color': '#d9534f',
                        text: "Do you really want to archive this order?",
                    },
                    class: "btn btn-default btn-block btn-lg" %>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-8 center-block">
    <h1 class="title text-sb"><span class="text-bb">Placed <%= format_datetime(@order_fragment.created_at) %></span>
    </h1>
  </div>
</div>
<br><br><br><br>

<div class="row">
  <div class="col-md-8 center-block">
    <div class="col-box col-box-db">
      <div class="row">
        <div class="col-md-6 col-md-sb">
          <h2 class="text-strong">Customer Information</h2>
          <hr>
          <h2><%= @order_fragment.order.full_name %></h2>
          <h2><%= number_to_phone(@order_fragment.order.phone_number, :groupings => [3, 4], :delimiter => "-") %></h2>
        </div>
        <div class="col-md-6">
          <h2 class="text-strong">Customer Opted For</h2>
          <hr>
          <% if @order_fragment.delivery? %>
            <h2><i class="fa fa-motorcycle" aria-hidden="true"></i> Delivery @</h2>
            <h2><%= @order_fragment.order.delivery_address %></h2>
          <% else %>
            <h2>Pick Up</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="row">
  <div class="col-md-8 center-block text-right">
    <h1 class="title">Overall Total: <span class="text-price"><%= price_format(@order_fragment.total) %></span></h1>
  </div>
</div>

<div class="seller-order-fragment">
  <div class="row">
    <div class="col-md-8 center-block">
      <h1 class="title"><span class="text-bb">Food Orders</span></h1><br><br>
      <ul>
        <%= render @order_fragment.food_order_items %>
      </ul>
      <% if @order_fragment.drink_order_items.any? %>
        <br>
        <h2 class="title"><span class="text-bb">Drink Orders</span></h2>
        <br><br>
        <ul>
          <%= render @order_fragment.drink_order_items %>
        </ul>
      <% end %>
    </div>
  </div>
</div>