<nav class="navbar navbar-default minimal-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="minimal-navbar-logo">
        <%= link_to root_path, class: "header-logo" do %>
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1513058642/logo5_vnoak4.png"
                 alt="">
        <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Foods", foods_path %></li>
        <li><%= link_to "Restaurants", restaurants_path %></li>
        <li>
          <%= link_to cart_path, class: "nav-cart" do %>
              <i class="glyphicon glyphicon-shopping-cart"></i> (<%= @cart.cart_items.count %>)
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>