<!DOCTYPE html>
<html>
  <head>
    <title>foodrder - Search, Order...Eat</title>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/dwaavflqp/image/upload/v1510985526/Logomakr_1neUk4_dkpzgi.png"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="container main-content-container">
      <%= render 'messages' %>

      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
