<!-- For The Love Of Great Food & Straight Outta Lena -->
<!DOCTYPE html>
<html>
<head>
  <title>foodrder - Search, Order...Eat</title>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dwaavflqp/image/upload/v1510985526/Logomakr_1neUk4_dkpzgi.png"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if Rails.env.production? %>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-74848603-2', 'auto');
    </script>
  <% end %>

  <% if user_signed_in? %>
    <%= tag :meta, name: "current-user", data: {id: current_user.id} %>
  <% end %>
</head>

<body>
<%= render 'header' %>
<div class="container main-content-container">
  <div class="alert alert-warning">
    <strong>Note: </strong>Current content for demonstration purposes only.
    Actual restaurants, menus and foods will soon be listed. If you would like to list your restaurant
    please call 608-2077 or shoot us an email at info@foodrder.bz. foodrder.bz is free for all!
  </div>
  <br>
  <%= render 'messages' %>

  <%= yield %>
</div>
<%= render 'footer' %>
</body>
</html>
