<!DOCTYPE html>
<html>
<head>
  <title>foodrder - Dashboard</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="dashboard-wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav id="spy">
      <ul class="sidebar-nav nav">
        <%= render 'application/dashboard/admin_nav' %>
      </ul>
    </nav>
  </div>

  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="content-header">
      <h1 id="home">
        <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
          <i class="fa fa-bars"></i>
        </a>
        foodrder
      </h1>
    </div>

    <div class="page-content inset" data-spy="scroll" data-target="#spy">
      <div class="row">
        <div class="col-md-12">
          <%= render 'messages' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {
        /*Menu-toggle*/
        $("#menu-toggle").click(function (e) {
            console.log("Yeah");
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
            $("#dashboard-wrapper").toggleClass("active");

        });

        /*Scroll Spy*/
        $('body').scrollspy({target: '#spy', offset: 80});

        /*Smooth link animation*/
        $('a[href*=\\#]:not([href=\\#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

</script>

</body>
</html>
